<div id="app">
    <nav class="navbar navbar-expand menunav">
      <a class="nav-item logo" href="index.html">
        <img src="../assets/images/pngwing.png" alt="Progressus HTML5 template">
      </a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item home">
          <a class="nav-link" routerLink="home">Beauty Salon </a>
        </li>      
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item serv">
          <a class="nav-link" routerLink="service">Nos services </a>
        </li>

        <li class="nav-item serv">
          <a class="nav-link" routerLink="equipe">Notre équipe </a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Inscription</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Connexion</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Administration</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Employé</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Se deconnecter</a>
        </li>
      </ul>
    </nav>

    
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</div>